.venv/
__pycache__/
*.pyc
models/
chats/
.env
.prettierrc
.editorconfig.env
requirements.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

app.json
app.txt
inference_log.txt
telemetry.json
index.html
faiss_index.index
index
.bin
.vec
.chroma
.db
*.db
*.sqlite
*.sqlite3
.sqlite
rag_storage/
data
.ruff_cache
.vscode
*.pkl
*.joblib
*.npy
rag_data/
vector_store/
cache/
.cache/
db/metadata.sqlite-journal
tree.txt
